@import '../../variables';

.outer_grid {
    display: flex;
    background-color: $grid-background-color;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.grid_margin {
    margin-left: 5%;
    margin-right: 5%;
}

.loading {
    text-align: center;
    line-height: 200px;
    font-size: 35px;
}