@import '../../variables';

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $grid-background-color;
}

.loading {
    text-align: center;
    line-height: 200px;
    font-size: 35px;
}