.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #dfe1e3;
}

.loading {
    text-align: center;
    line-height: 200px;
    font-size: 35px;
}