.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 60vh;
    overflow: auto;
}

.loading {
    text-align: center;
    line-height: 200px;
    font-size: 35px;
}